.Timer {
    width: 100%;
    height: 20px;
}

.timer-outer-bar {
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

.timer-inner-bar {
    height: 100%;
    background-color: #228B22;
    animation: progress 60s;
}

@keyframes progress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}