.container-outer {
    height: 100%;
    width: 100%;
    border-radius: 17px;
}

.container-inner {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transform: translateY(-5px);
    background: inherit;
    filter: brightness(1.3);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}