.TopBar {
    width: 100%;
    height: 45px;
    background-color: var(--dark-gray);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.top-bar-btn {
    border: none;
    background-color: transparent;
}

.exit-icon {
    color: var(--white);
}

.top-bar-section {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 15px;
    white-space: nowrap;
}

.top-bar-stats {
    justify-content: flex-end;
}

.logout-btn {
    margin-right: 10px;
}