.Profile {
    width: 85%;
    margin-bottom: 25px;
    max-width: 400px;
}

.Profile:first-child {
    margin-top: 25px;
}

.profile-section {
    display: flex;
    align-items: center;
    flex: 1;
}

.profile-section:nth-child(2) {
    justify-content: flex-end;
}

.profile-rank {
    color: var(--black) !important;
    font-weight: bold !important;
}

.profile-username {
    color: var(--black) !important;
    white-space: nowrap;
}

.profile-trophies {
    color: var(--black) !important;
    font-weight: bold !important;
}