@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@400;500&display=swap');

:root {
  --dark-gray: #3F3F3F;
  --gray: #555555;
  --white: #FDFDFD;
  --black: #282828;
  --purple: #CF9FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: var(--gray);
}

.view {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 45px;
  width: 100%;
  overflow: hidden;
}

.title {
  font-family: 'Luckiest Guy', cursive;
  color: var(--white);
  text-align: center;
  font-weight: normal;
  width: 100%;
  transform: translateY(3px);
}

.text {
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  font-weight: 500;
  margin: 0 7px;
}

.title-dark, .text-dark {
  color: var(--black);
}

.icon {
  font-size: 20px;
}

.icon-border {
  stroke: var(--black);
  stroke-width: 20px;
}

.medium { font-size: 20px }
.large { font-size: 36px }
.extra-large { font-size: 64px }
.extra-extra-large { font-size: 90px }

.profile-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.trophy-icon {
  color: #E7CB39;
}

.coins-icon {
  color: #EBCE68;
}

.input-fields {
  margin: 25px 0 50px;
}

.user-sub-text {
  text-align: center;
  width: 100%;
}

.link {
  color: var(--purple);
}

.link:visited {
  color: var(--purple);
}