.StoreItem {
    margin-right: 15px;
    width: 168.75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}

.store-item-img {
    height: 60px;
    filter: brightness(0.8);
}

.store-item-name {
    color: var(--black) !important;
    font-weight: bold;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

.store-item-price {
    width: 100%;
    text-align: center;
    color: var(--black) !important;
    font-weight: bold;
}

.store-item-coins-container {
    display: flex;
    margin-top: 5px;
}